.main {
  background-color: #C5E6BB;
  -webkit-text-stroke: .8px black;
  font-family: "Gill Sans", sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: black;
  cursor: default;
}

body {
  background-color: #A2C698;
  text-align: center;
  font-family: "Gill Sans", sans-serif;
}

.search {
  align: center;
  margin-right: 50px;
  padding: 50%;
}

.image {
  width: 50px;
  height: 100px;
}

.row {
  height: 50%;
  padding: 40px;
  border: 5px solid #80877E;
  border-radius: 50px;
  margin: auto auto;
  text-align: left;
}
